<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/home.css}" href="../static/css/home.css"
          rel="stylesheet"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js}"></script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Feedback Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/feedbacks}">See feedbacks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/feedbacks/new}">Submit feedback</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>