<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Feedbacks</title>
    <th:block th:include="layout/header"></th:block>
</head>

<body>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Existing entries</h1>

            <!--Feedbacks-->
            <div th:if="${not #lists.isEmpty(feedbacks)}">
                <!-- Blog Post -->
                <div th:each="feedback : ${feedbacks}" class="card mb-4">
                    <div class="card-body">
                        <h2 th:text="${feedback.subject}" class="card-title">Subject</h2>
                        <p th:text="${feedback.summary}" class="card-text">Summary</p>
                        <a th:href="${'/feedbacks/' + feedback.id}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div th:text="${'Posted by ' + feedback.author}" class="card-footer text-muted">
                    </div>
                </div>
            </div>


        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <form th:action="@{/feedbacks/search}" method="get">
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query"
                                   placeholder="Enter feedback subject ... "/>
                            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
</body>

<!-- Footer -->
<footer class="py-5 fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">&copy; Feedback portal 2017</p>
    </div>
    <!-- /.container -->
</footer>

</html>
