<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>

<!--Input form-->
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="my-4">Submit feedback</h1>
            <form class="form-horizontal" th:object="${feedback}" th:action="@{/feedbacks}" method="post">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Author:</label>
                    <div class="col-sm-12">
                        <input id="author" type="text" class="form-control" th:field="*{author}"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('author')}"
                              th:errors="*{author}">Author error</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Review subject:</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" th:field="*{subject}"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('subject')}"
                              th:errors="*{subject}">Subject error</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Short summary:</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" th:field="*{summary}"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('summary')}"
                              th:errors="*{summary}">Summary error</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Detailed description:</label>
                    <div class="col-sm-12">
                        <textarea type="text" class="form-control" rows="5" th:field="*{content}"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('content')}"
                              th:errors="*{content}">Content error</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Will you recommend review subject to a friend?</label>
                    <input type="checkbox" class="form-check-input" th:field="*{recommend}"/>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <form th:action="@{/feedbacks/search}" method="get">
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query"
                                   placeholder="Enter feedback subject ... "/>
                            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>

</body>
</html>